<h1> <%= @cat.name %> </h1>

<table>
    <tr>
        <th>Age</th>
        <th>Color</th>
        <th>Birth Date</th>
        <th>Sex</th>
        <th>Description</th>
    </tr>
    <% [:age, :color, :birth_date, :sex, :description].each do |cat_attr| %>
        <tr>
            <td> <%= @cat.send(cat_attr) %> </td>
        </tr>
        <%end%>
</table>

<a href="<%= cats_url(@cat)%>"> Back to all cats!</a>